body {
  margin: 0;
  background-color: rgb(45, 45, 45); /* Fallback-Farbe, falls Bild nicht lädt */
  background-image: url('../images/background1.png');
  background-size: cover;        /* pic fills out the screen */
  background-position: center;   /* pic will be centered */
  background-repeat: no-repeat;  /* mo repetition of the pic */

  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  overflow: hidden;
  gap: 10px;
}

#page-gameover-h1 {
  color:white;
  font-size: 360%;
  font-weight: 800;
}

#btn-restart {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20vw;
  height: 8vh;
  background-color: crimson;
  background-size: 100% 100%;
  color: white;
  text-decoration: none;
  font-size: large;
  margin: 2%;
  border-radius: 10%;
}

#score-info {
  color: aliceblue;
  font-size: xx-small;
  background-color: rgba(220, 20, 60, 0.25);
  padding: 1%;
  width: 420px;
}

#shut-roids,
#total-roids,
#percentage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  margin: 0.6rem 0;
}

#game-title {
  color: gold;
  font-size: xx-large;
}